:root {
    --primary: #15cef5;
    --secondary: #15b4d4;
    --process: #ffae00;
    --finished: #00df0b;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

body {
    font-family: "Montserrat", sans-serif;
    min-height: 2000px;
}

/* header start */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3%;
    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    box-shadow: 0 0.2rem 5px -0.15rem gray;
}

.header * {
    color: white;
}

.header .header-left {
    display: flex;
    align-items: center;
}

.header .header-left .hamburger-menu {
    font-size: 2rem;
    margin-right: 0.25rem;
    cursor: pointer;
    display: none;
}

.header .header-left a {
    font-size: 2rem;
    margin-left: 0.25rem;
    font-weight: 700;
    width: fit-content;
}

.header .navbar {
    display: flex;
    align-items: center;
}

.header .navbar a {
    font-size: 1.1rem;
    font-weight: 500;
}

.header .navbar .dropdown {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.header .navbar .dropdown span {
    cursor: pointer;
}

.header .navbar .dropdown .dropdown-menu {
    position: absolute;
    background-color: white;
    box-shadow: 0 0 0.3rem black;
    border-radius: 0.3rem;
    top: 3.1rem;
    display: none;
}

.header .navbar .dropdown .show {
    display: block !important;
}

.header .navbar .dropdown .dropdown-menu a {
    display: block;
    color: black;
    padding: 0.5rem;
}

.header .navbar .dropdown .dropdown-menu a:hover,
.header .navbar .dropdown .dropdown-menu a:focus {
    background-color: var(--primary);
    color: white;
}

.header .navbar .dropdown .arrow:hover + .dropdown-menu,
.header .navbar .dropdown .dropdown-menu:hover {
    display: block;
}

.header .navbar .user {
    margin-left: 0.5rem;
}

.header .registration {
    font-weight: 500;
}

.header .registration .login {
    margin-right: 0.5rem;
    font-size: 1.1rem;
}

.header .registration .register {
    margin-left: 0.5rem;
    border: 2px solid white;
    color: white;
    padding: 0.6rem 1rem;
    border-radius: 2rem;
    font-size: 1.1rem;
}

.header .registration .register:hover {
    background-color: var(--secondary);
}
/* header end */

/* home start */
.home {
    padding: 4rem 3% 1rem;
    display: flex;
    align-items: center;
}

.home .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
}

.home .content > div {
    flex: 50%;
}

.home .content .greeting h2 {
    font-size: 3.5rem;
    margin: 1rem 0;
    line-height: 3.5rem;
}

.home .content .greeting h2 span {
    color: var(--primary);
}

.home .content .greeting p {
    font-size: 1.4rem;
    margin: 1rem 0 1.5rem;
    max-width: 90%;
}

.home .content .greeting a {
    background-color: var(--primary);
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 0.3rem;
    font-size: 1rem;
}

.home .content .greeting a:hover {
    background-color: var(--secondary);
}

.home .content > img {
    flex: 40%;
}
/* home end */

/* about section start */
.about {
    padding: 7rem 3% 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about > img {
    flex: 30%;
}

.about > .content {
    flex: 60%;
}

.about .content h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.about .content h2 span {
    color: var(--primary);
}

.about .content .explanation p {
    text-align: justify;
    text-indent: 4rem;
    font-size: 1.3rem;
    margin: .5rem 0;
    line-height: 2rem;
}
/* about section end */

/* media queries */
@media (max-width: 1920) {
    html {
        font-size: 110%;
    }

    .home .content img {
        width: 110%;
    }
}

/* Laptop */
@media (max-width: 1400px) {
    html {
        font-size: 90%;
    }

    .home .content img {
        width: 90%;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 80%;
    }

    .home .content img {
        width: 80%;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 70%;
    }

    /* header start */
    .header .header-left .hamburger-menu {
        display: block;
    }

    .header .navbar {
        height: 100vh;
        background-color: white;
        position: absolute;
        width: 25rem;
        top: 100%;
        left: -100%;
        box-shadow: 0.2rem 0 5px -0.15rem gray;
        display: block;
        padding: 0 1rem;
        transition: 0.3s;
    }

    .header .navbar.show {
        left: 0;
    }

    .header .navbar a,
    .header .navbar span {
        color: black;
    }

    .header .navbar a {
        font-size: 1.3rem;
    }

    .header .navbar .dropdown {
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 1rem 0;
    }

    .header .navbar .dropdown .arrow:hover + .dropdown-menu,
    .header .navbar .dropdown .dropdown-menu:hover {
        display: none;
    }

    .header .navbar .dropdown .dropdown-menu {
        position: relative;
        top: 0;
        flex: 100%;
    }

    .header .navbar > a {
        margin: 1rem 0 !important;
    }
    /* header end */

    /* home start */
    .home {
        align-items: baseline;
    }

    .home .content {
        flex-direction: column-reverse;
    }

    .home .content > div {
        flex: 100%;
    }

    .home .content .greeting {
        text-align: center;
    }

    .home .content .greeting p {
        max-width: 100%;
    }

    .home .content img {
        width: 50%;
    }
    /* home end */

    /* about start */
    .about {
        flex-direction: column;
        padding-top: 2.5rem;
    }

    .about img {
        width: 40%;
    }
    /* about end */
}

/* Mobile Phone */
@media (max-width: 576px) {
    html {
        font-size: 55%;
    }

    .home .content img {
        width: 60%;
    }
}
