:root {
    --teal: #186F65;
    --green: #B5CB99;
    --yellow: #FCE09B;
    --maroon: #B2533E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.keseluruhan {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kotak {
    box-shadow: 5px 5px 10px black;
    width: 450px;
    height: 450px;
    display: grid;
    padding: 20px;
}

.kembali {
    width: 100%;
    display: grid;
}

.kembali .icon {
    position: absolute;
    font-size: 30px;
    place-self: start;
    color: black;
}

.kembali .icon:hover {
    color: var(--teal);
}

.kotak h1 {
    color: var(--teal);
    font-size: 38px;
    display: block;
    text-align: center;
    margin-top: -10px;
}

.kotak >p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}

.login {
    display: grid;
}

.login label {
    display: block;
    margin-top: 20px;
    font-weight: 400;
}

.login input {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.bungkus-password {
    display: grid;
    margin-bottom: 10px;
}

#show-hide {
    width: 15px;
    display: inline-block;
    cursor: pointer;
}

#show-hide:focus {
    border: 0;
}

p.teks {
    font-size: 14px;
    color: black;
    font-weight: 300;
    place-self: start;
    margin-top: -29px;
    margin-left: 20px;
}

.lupa-password {
    text-decoration: none;
    font-size: 14px;
    place-self: end;
    margin-bottom: 11px;
    margin-top: -100px;
}

.login button {
    width: 50%;
    height: 40px;
    place-self: center;
    background-color: var(--teal);
    color: white;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

p.register {
    font-size: 12px;
    color: black;
    margin-top: 20px;
}

p.register a {
    text-decoration: none;
}

.kotak .kebijakan {
    font-size: 12px;
    color: black;
    font-weight: 300;
    text-decoration: none;
    place-self: center;
    position: absolute;
    bottom: 105px;
}